.content {
    background-color: var(--main-ui-color);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.33);
    border-radius: 15px;
    margin-top: 15px;
    color: white;
}

.content > img {
    max-width: 100%;
}

.content > h5 {
    padding: 15px;
}

.header {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback {
    display: flex;
    align-items: center;
}

.flex > h5 {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.flex {
    margin-left: 15px;
    display: flex;
    align-items: center;
}